# Python environment
.venv/
__pycache__/
*.pyc
*.pyd
*.pyo

# Environment variables
.env

# Data and Logs
data/
logs/
preprocessed_bq/ # If you save BQ preprocessed data locally
extracted_articles_local/ # If you save extracted articles locally
/tmp/ # Temporary files (e.g., downloaded GDELT zips)

# MLflow
mlruns/

# Jupyter Notebook specific
.ipynb_checkpoints

# IDE specific
.idea/  # IntelliJ/PyCharm
.vscode/ # VS Code
*.sublime-project
*.sublime-workspace

# Operating System
.DS_Store # macOS
Thumbs.db # Windows